@import 'styles/mixins';

.contact {
    .content {
        text-align: center;

        button {
            margin: 16px;
            position: relative;

            overflow: hidden;
            border-radius: 12px;
            padding: 12px;

        }

        svg {
            height: 64px;
            width: 64px;
            margin: 12px 12px;
        }

        a {
            text-decoration: none;

        }
    }

    @include mobile {
        .content {
            button {
                margin: 24px 8px;
                padding: 8px;
            }

            svg {
                height: 48px;
                width: 48px;
                margin: 8px 8px;
            }
        }
    }
}